<h1 class="title">Irina Zotova</h1>
<nav id="menu" class="navbar navbar-inverse" ng-controller="menu">
	<div class="container">
		<a id="home-menu" ui-sref="home" class="navbar-brand" title="Home" ng-class="{ active: $state.is('home')}" >
			<i class="fa fa-2x fa-id-card" aria-hidden="true"></i>
		</a>
		<div class="navbar-header">
			<button type="button"
			        class="navbar-toggle"
			        data-toggle="collapse"
			        data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="nav-item" ng-class="{ active: $state.is('experience')}">
					<a ui-sref="experience">Experience</a>
				</li>
				<li class="nav-item" ng-class="{ active: $state.is('research')}">
					<a ui-sref="research">Research</a>
				</li>
				<li class="nav-item" ng-class="{ active: $state.is('teaching')}">
					<a ui-sref="teaching">Teaching</a>
				</li>
<!--				<li class="dropdown" ng-class="{ active: $state.is('teaching') || $state.is('classMaterials') }">
					<a ui-sref="teaching"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teaching <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="classMaterials">Class Materials</a></li>
					</ul>
				</li>-->
				<li class="nav-item" ng-class="{ active: $state.is('references')}">
					<a ui-sref="references">References</a>
				</li>
<!--				<li class="nav-item" ng-click="$state.go('cv')" ng-class="{ active: $state.is('cv')}">
					<a ng-href="{{cvRef}}"  target="_blank">CV</a>
				</li>-->
			</ul>
		</div>
	</div>
</nav>