<div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8" ng-controller="education">

	<p>
	<h5><b>Education</b></h5>
	<edu>
		<author>Ph.D. Economics, University of California, Irvine</author> <span class="years">Expected 2018</span>
	</edu>
	<edu>
		<author>M.A. Economics, University of California, Irvine</author> <span class="years">2014</span>
	</edu>
	<edu>
		<author>B.S. Economics/Mathematics, <i>Cum Laude</i>, University of California, San Diego</author> <span class="years">2013</span>
	</edu>


	<p>
	<h5><b>Skills</b></h5>
	<ski>
		<author><b>Technical:</b> Matlab, STATA, z-Tree, LaTeX, Java</author>
	</ski>
	<ski>
		<author><b>Foreign Language:</b> Russian (Native)</author>
	</ski>
</div>