<div class="col-md-offset-2 col-md-8" ng-controller="education">

	<p>
	<h5><b>Education</b></h5>
	<toc>
		<author>Ph.D. Economics, University of California, Irvine</author> <span class="years pull-right">Expected 2018</span>
	</toc>
	<toc>
		<author>M.A. Economics, University of California, Irvine</author> <span class="years pull-right">2014</span>
	</toc>
	<toc>
		<author>B.S. Economics/Mathematics, Cum Laude, University of California, San Diego</author> <span class="years pull-right">2013</span>
	</toc>


	<p>
	<h5><b>Skills</b></h5>
	<toc>
		<author>Technical: Matlab, STATA, z-Tree, LaTeX, Java</author>
	</toc>
	<toc>
		<author>Foreign Language: Russian (Native)</author>
	</toc>
</div>