<div class="col-md-offset-1 col-md-10" ng-controller="experience">
<!--	<div>
		Data Science Certificate Program, UCI
	</div>
	<ul class="profile-modal achievement">
		<li>
			Courses: Predictive Modeling with Python, Advanced Predictive Modeling with Python, Natural Language Processing with Python, Introduction to Linux/HPC, Introduction to R, Advanced Introduction to Julia
		</li>
	</ul>

	<p>
		Co-Author & Graduate Student Researcher, UCI
	</p>
	<div>
		Age Discrimination Correspondence Studies
	</div>
	<ul class="profile-modal achievement">
		<li>
			Initiated and automated a correspondence study. Implemented code to cost-effectively send 14K+ job applications across the U.S.
		</li>
		<li>
			Used machine learning techniques to predict employer discrimination based on job posting text.
		</li>
		<li>
			Scraped 25K+ resumes to construct a dataset of employee characteristics.
		</li>
		<li>
			Managed a team of 17 to implement a correspondence study. Led meetings, monitored quality, and adjusted assignments. Over 40K applications were sent in 11 states.
		</li>
	</ul>

	<p>
		Undergraduate Student Researcher, UCLA
	</p>
	<p>
		Disputes & Investigations Intern, Navigant Consulting
	</p>
	<p>
		Intern, Beacon Economics
	</p>-->
</div>