<div id="home" ng-controller="home">
	<div class="col-sm-5 leftProfile">
		<section>
			<div class="profileImage">
				<img src="images/minnie.png">
			</div>
			<div class="profileAddress">
				<p>izotova@uci.edu</p>
				<address>
					University of California, Irvine<br>
					Department of Economics<br>
					3151 Social Science Plaza<br>
					Irvine, CA 92697-5100
				</address>
			</div>
		</section>
	</div>
	<div class="col-sm-5 rightProfile">
		<section>
			<p>I am a Ph.D. Candidate in Economics at UC Irvine and am currently on the job market.</p>
			<p>Fields: experimental economics, applied microeconomics, industrial organization.</p>
			<p>I will be available for interviews at the ASSA Annual Meeting in Philadelphia, January 5-7, 2018.</p>
		</section>
	</div>
</div>