<div id="home" ng-controller="home">
	<div class="col-sm-5 leftProfile">
		<section>
			<div class="profileImage">
				<img style="display: none"  class="center-block img-responsive img-profile" ng-src="images/irinazotova3.jpg" imageonload="images/loading_icon_64.gif" alt="Processing...">
			</div>
			<div class="profileAddress">
				<p>izotova@uci.edu</p>
				<address>
					<b>University of California, Irvine</b><br>
					Department of Economics<br>
					3151 Social Science Plaza<br>
					Irvine, CA 92697-5100
				</address>
			</div>
		</section>
	</div>
	<div class="col-sm-5 rightProfile">
		<section>
			<p>I am a Ph.D. candidate in Economics at UC Irvine and am currently on the job market.</p>
			<p>Fields: experimental economics, applied microeconomics, industrial organization.</p>
		</section>
	</div>
</div>