<div class="col-md-offset-2 col-md-8"  ng-controller="references">

	<div class="col-sm-4">
		<label>Professor Michael McBride</label>
		<address>
			Department of Economics<br>
			University of California, Irvine<br>
			mcbride@uci.edu<br>
			1 (949) 824-7417
		</address>
	</div>

	<div class="col-sm-4">
		<label>Chancellor's Professor Jan Brueckner</label>
		<address>
			Department of Economics<br>
			University of California, Irvine<br>
			jkbrueck@uci.edu<br>
			1 (949) 824-0083
		</address>
	</div>

	<div class="col-sm-4">
		<label>Professor John Duffy</label>
		<address>
			Department of Economics<br>
			University of California, Irvine<br>
			duffy@uci.edu<br>
			1 (949) 824-8341
		</address>
	</div>

</div>