<div class="col-md-offset-2 col-md-8"  ng-controller="references">

	<div class="col-sm-4">
		<label>Dan Bogart</label>
		<address>
			Department of Economics<br>
			University of California, Irvine<br>
			dbogart@uci.edu<br>
			1 (949) 824-3191<br>
		</address>
	</div>

	<div class="col-sm-4">
		<label>Gary Richardson</label>
		<address>
			Department of Economics<br>
			University of California, Irvine<br>
			garyr@uci.edu<br>
			1 (949) 824-5089
		</address>
	</div>

	<div class="col-sm-4">
		<label>Stergios Skaperdas</label>
		<address>
			Department of Economics<br>
			University of California, Irvine<br>
			sskaperd@uci.edu<br>
			1 (949) 824-4167
		</address>
	</div>

</div>