<div class="col-md-offset-1 col-md-10" ng-controller="research">

	<p>
		<h4><b>Publications</b></h4>
		<toc>
			<author>Zotova I., 2017</author><q>Post-Crash Airline Pricing: A Case Study of Alaska Airlines Flight 261.</q><br>
			<text><i>Economics of Transportation</i> 10, 18-22.</text>
		</toc>
		<context>
			<text>
				This paper examines the impact of the crash of Alaska Airlines Flight 261 on the domestic fares of the crash carrier, using a difference-in-difference approach. The results show that the crash reduced fares of Alaska Airlines relative to those of its competitors only in the months right after the crash, indicating that the financial ramifications are not persistent.
			</text>
		</context>
	</p>


	<p>
		<h4><b>Working Papers</b></h4>
		<toc>
			<q>Impact of COVID-19 on Airline Pricing</q>with Pyung Y<br>
			<text><i>Under Review</i></text>
		</toc>
		<context>
			<text>
				The COVID-19 pandemic produced unprecedented, unimaginable devastation throughout the world. The need to self-quarantine forced many industries, including the air travel business, to grind to a halt, producing potentially irreparable consequences. In order to better understand the extent of the impact on the airline industry, we applied sophisticated econometric techniques to voluminous flight data maintained by the United States Department of Transportation and determined that the pandemic brought about a decline in average airfares of $24 per quarter following the first quarter of 2020.			</text>
		</context>
	</p>
	<p>
		<toc>
			<q>References in the Labor Market: An Experimental Study</q>
		</toc>
	</p>
</div>