<div class="col-md-offset-1 col-md-10" ng-controller="research">

	<p>
		<h5><b>Publications</b></h5>
		<toc>
			<author>Zotova I., 2017</author><q>Post-Crash Airline Pricing: A Case Study of Alaska Airlines Flight 261.</q><br>
			<text><i>Economics of Transportation</i> 10, 18-22.</text>
		</toc>
		<context>
			<text>
				This paper examines the impact of the crash of Alaska Airlines Flight 261 on the domestic fares of the crash carrier, using a difference-in-difference approach. The results show that the crash reduced fares of Alaska Airlines relative to those of its competitors only in the months right after the crash, indicating that the financial ramifications are not persistent.
			</text>
		</context>
	</p>


	<p>
		<h5><b>Working Papers</b></h5>
		<toc>
			<q>Worker History and Labor Markets: The Role of Costly Information</q><br>
			<text><i>Job Market Paper</i></text>
		</toc>
		<context>
			<text>
				Existing experimental literature in agency theory provides an employer their employee's work history at no cost. I extend this scenario by placing a price on the information. Through experimental evidence, I find employers choose to absorb the cost of obtaining history, and do not shift the burden of the fee onto the employees in the form of lower wages. If employers have access to an employee's history, they offer a wage that is positively correlated with employee work ethic. However, when they are not presented with a history, the employers base the wage on their own experience with past employees.
			</text>
		</context>
	</p>
	<p>
		<toc>
			<q>References in the Labor Market: An Experimental Study</q>
		</toc>
	</p>
</div>