<div class="col-md-offset-2 col-md-8" ng-controller="research">

	<p>
		<q>Can Counselors Help Solve the Dropout Crisis? Evidence from California Public High Schools</q><br>
		<cite>Job Market Paper</cite><br>
		<cite>Under Review</cite>
	</p>


	<p>
		<q>When Does the STEM Gender Gap Emerge? Evidence From Over 28,000 Science Fair Projects</q><br>
		<cite>Under Review</cite>
	</p>

	<p>
		<q>Fertility Assimilation: The Role of Culture</q><br>
		<cite>2015 Charles A. Lave Paper Prize for Creative Modeling in Social Sciences, UCI</cite><br>
		<cite>Under Review</cite>
	</p>

	<p>
		<q>The Role of Same-Gender Teachers, Advisors, and Parents in Determining Science Fair Gender Gaps</q>
	</p>

	<p>
		<q>Automating Correspondence Studies with Python and SQLite: Guide and Code</q>
	</p>

	<p>
		<q>Do State Age Discrimination Protections Reduce Hiring Discrimination Against Older Workers? Evidence from a Field Experiment</q><br>
		<cite>with David Neumark, Patrick Button, and Ian Burn</cite>
	</p>

	<p>
		<q>Predictors of Age Discrimination in Job Ads: Evidence from a Field Experiment</q><br>
		<cite>with David Neumark, Patrick Button, and Ian Burn</cite>
	</p>
</div>